@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
/********************** 글로벌 설정 *********************/
html,
body {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    height: 2000px;
}
.wrapper {
    max-width: 1368px;
    margin: auto;
}
.bt-ghost {
    padding: 0.875em 1.5em;
    border: 1px solid #999;
    color: #fff;
    transition: all 0.2s;
}
.bt-ghost:hover {
    background-color: #fff;
    color: #b38859;
}
.bt-ghost.gold {
    border: 1px solid#fff;
}

.bt-ghost.gold:hover {
    background-color: #b38859;
    color: #fff;
}
.bt-anchor {
    text-decoration: underline;
}
/**********************.notice-wrapper  *********************/

.notice-wrapper {
    background-color: #28354b;
    color: #fff;
    width: 100%;
    transition: top 0.1s;
}

.notice-wrapper .notice-wrap {
    display: flex;
    padding: 1em 0;
    align-items: center;
}
.notice-wrapper .notice-wrap > .notice-bullet {
    font-size: 0.875em;
    color: #b38859;
    width: 4rem;
}
.notice-wrapper .notice-wrap > .notice-title {
    font-size: 1.25em;
    margin-right: 0.5rem;
}
.notice-wrapper .notice-wrap > .bt-close {
    font-size: 1.75em;
    cursor: pointer;
}
.notice-wrapper .notice-wrap > .bt-hide {
    cursor: pointer;
    margin-right: auto;
}
.notice-wrapper .notice-wrap > .bt-show {
    cursor: pointer;
    margin-right: auto;
}
.notice-wrapper .notice-content {
    padding-left: 4rem;
}
.notice-wrapper .notice-content > .content {
    font-size: 1.125em;
    line-height: 1.5;
    color: #bbb;
    margin-bottom: 1.5em;
}
.notice-wrapper .notice-content > .bt-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    align-items: flex-end;
}
.notice-wrapper > .notice-content .bt-today {
    color: #fff;
}

/********************************header-wrapper*****************************************/
.header-wrapper {
    font-size: 1em;
    color: #fff;
    position: absolute;
    width: 100%;
}

.header-wrapper:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.header-wrapper:hover .link-wrapper {
    border-bottom: 1px solid #ddd;
}
.header-wrapper .link-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-wrapper .link-wrap {
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-wrapper .link-wrap > .link {
    font-weight: 300;
    user-select: none;
}
.header-wrapper .link-wrap > .link:hover {
    color: rgba(0, 0, 0, 0.8);
}
.header-wrapper .link-wrap > .link:not(.link-lang) {
    padding: 0 1.5em;
    border-right: 1px solid #ddd;
}
.header-wrapper .link-wrap > .link-lang {
    padding-left: 1.5em;
    position: relative;
}
.header-wrapper .link-lang > .sel-lang {
    cursor: pointer;
}
.header-wrapper .link-lang > .sel-lang > .bt-lang::before {
    transition: transform 0.3s;
    font-size: 0.75em;
}
.header-wrapper .link-lang > .hover-lang {
    background-color: #fff;
    display: none;
    color: inherit;
    position: relative;
    min-width: 100%;
    padding: 1em;
    position: absolute;
    left: 0.5em;
    cursor: pointer;
}
.header-wrapper .link-lang > .hover-lang .lang {
    margin-top: 0.75em;
}

.header-wrapper .link-lang:hover > .hover-lang {
    display: block;
}
.header-wrapper .link-lang:hover .bt-lang::before {
    transform: rotate(180deg);
}

.header-wrapper:hover .logo-white {
    display: none;
}
.header-wrapper:hover .logo-color {
    display: inline-block;
}
.header-wrapper:hover .bt-ghost.gold {
    color: #b38859;
    border: 1px solid#b38859;
}
.header-wrapper:hover .bt-ghost.gold:hover {
    color: #f9f9f9;
}
.header-wrapper:hover .navi:hover {
    font-weight: 500;
    color: #b38859;
}
.header-wrapper:hover .navi {
    text-shadow: none;
    color: #111;
}
.header-wrapper .navi-wrapper > .wrapper {
    display: flex;
    padding: 1.5em 0;
}
.header-wrapper .logo-wrap {
    order: 2;
    flex: 0 0 254px;
}
.header-wrapper .logo-color {
    display: none;
}
.header-wrapper .navi-wrap {
    display: flex;
    align-items: center;
    flex: 0 0 calc(50% - 127px);
}
.header-wrapper .navi-wrap-lt {
    order: 1;
}
.header-wrapper .navi-wrap-rt {
    order: 3;
    display: flex;
    justify-content: flex-end;
}

.header-wrapper .navi {
    margin: 0 2em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header-wrapper .navi:first-child {
    margin-left: 0;
}

.header-wrapper .navi:last-child {
    margin-right: 0;
}
/**********************footer-wrapper  *********************/
/**********************modal-wrapper  *********************/

/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
    .wrapper {
        max-width: calc(100%-2rem);
        margin: 0 1rem;
    }
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
