.video-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /*position:relative인 부모를 가질 때 position:absolute인 자식은 부모의 위치에 영향을 받는다(부모의 위치에서 시작). 그렇기에 벗어난 부분은 부모의  overflow:hidden  아래에서 생략된다*/
}

.video-wrapper > video {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
/* 만약 left:0;으로 하게 되면 배경 영상이 왼쪽에 붙어있되 화면 안에 건물이 들어오지 않는다(영상의 가로 길이 매우길다) 그러나 위와 같이 하면 영상의 왼쪽 배경이 잘린 채로 왼쪽 윈도우에 딱 붙어보인다! */
.video-wrapper > video.width-max {
  width: 100%;
  height: auto;
}
/* 비디오의 너비가 최대일 때는  */
.video-wrapper > video.height-max {
  width: auto;
  height: 100%;
}
/* 비디오의 높이가 최대일 때는 */

.video-wrapper2 {
  width: 100%;
  height: 120vh;
  position: relative;
}
/* ytplayer의 속성 때문에 relative를 주지 않으면 영상이 위로 올라온다 */
